body[b-swnugojhh8] {
}


.container[b-swnugojhh8] {
    max-width: 1600px;
    margin: 0 auto;
    padding: 40px 20px;
    justify-items: center;
    text-align: center;
}

table[b-swnugojhh8] {
    color: white;
}

.scroll[b-swnugojhh8] {
    height: 65vh;
    overflow-y: auto;
}

.btn-primary[b-swnugojhh8] {
    min-width: 200px;
    font-size: 16px;
    position: center;
}

.reportComponent[b-swnugojhh8] {
    position: absolute;
    width: 100%;
}
