/* _content/SpaceForceEvaluations/Components/CategoriesReport.razor.rz.scp.css */
body[b-n8ybiyasca] {
}


.container[b-n8ybiyasca] {
    max-width: 1600px;
    margin: 0 auto;
    padding: 40px 20px;
    justify-items: center;
    text-align: center;
}

table[b-n8ybiyasca] {
    color: white;
}

.scroll[b-n8ybiyasca] {
    height: 75vh;
    overflow-y: auto;
}

.btn-primary[b-n8ybiyasca] {
    min-width: 200px;
    font-size: 16px;
    position: center;
}

.reportComponent[b-n8ybiyasca] {
    position: absolute;
    width: 100%;
}
/* _content/SpaceForceEvaluations/Components/DailyQuestionHolder.razor.rz.scp.css */
body[b-a5t3ivg6ll] {

}
.maincomponent[b-a5t3ivg6ll] {
    background-image: linear-gradient(180deg, #002035 0%, #000f 99%);
    color: white;
    border-style: double;
    border-color: #7f838a;
    margin-bottom: 1vh;
}
input[type="radio"][b-a5t3ivg6ll] {
    margin: 0 5px 25px 10px;
}
input[type="InputRadio"][b-a5t3ivg6ll] {
    margin: 0 5px 25px 10px;
}
button[b-a5t3ivg6ll] {
    margin-top: 1vh;
    margin-bottom: 1vh;
    box-shadow: inset 0px 1px 0px 0px #a4e271;
    background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
    background-color: #89c403;
    border-radius: 6px;
    border: 1px solid #74b807;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #528009;
}
button:hover[b-a5t3ivg6ll] {
    background: linear-gradient(to bottom, #77a809 5%, #89c403 100%);
    background-color: #77a809;
}
/* _content/SpaceForceEvaluations/Components/IndividualQuestionsReportsHolder.razor.rz.scp.css */
body[b-95d7e831j8] {
}


.container[b-95d7e831j8] {
    max-width: 1600px;
    margin: 0 auto;
    padding: 40px 20px;
    justify-items: center;
    text-align: center;
}

table[b-95d7e831j8] {
    color: white;
}

.scroll[b-95d7e831j8] {
    height: 75vh;
    overflow-y: auto;
}

.btn-primary[b-95d7e831j8] {
    min-width: 200px;
    font-size: 16px;
    position: center;
}

.reportComponent[b-95d7e831j8] {
    position: absolute;
    width: 100%;
}
input[b-95d7e831j8]::-webkit-inner-spin-button,
input[b-95d7e831j8]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* _content/SpaceForceEvaluations/Components/ShowAllReportsHolder.razor.rz.scp.css */
body[b-jb4h1quasc] {
}


.container[b-jb4h1quasc] {
    max-width: 1600px;
    margin: 0 auto;
    padding: 40px 20px;
    justify-items: center;
    text-align: center;
}

table[b-jb4h1quasc] {
    color: white;
}

.scroll[b-jb4h1quasc] {
    height: 75vh;
    overflow-y: scroll;
}

.btn-primary[b-jb4h1quasc] {
    min-width: 200px;
    font-size: 16px;
    position: center;
}

.reportComponent[b-jb4h1quasc] {
    position: absolute;
    width: 100%;
}
/* _content/SpaceForceEvaluations/Components/SurveyTakenInRange.razor.rz.scp.css */
body[b-swnugojhh8] {
}


.container[b-swnugojhh8] {
    max-width: 1600px;
    margin: 0 auto;
    padding: 40px 20px;
    justify-items: center;
    text-align: center;
}

table[b-swnugojhh8] {
    color: white;
}

.scroll[b-swnugojhh8] {
    height: 65vh;
    overflow-y: auto;
}

.btn-primary[b-swnugojhh8] {
    min-width: 200px;
    font-size: 16px;
    position: center;
}

.reportComponent[b-swnugojhh8] {
    position: absolute;
    width: 100%;
}
/* _content/SpaceForceEvaluations/Components/TeamAccoladesReportHolder.razor.rz.scp.css */
body[b-n47gka2n2f] {
}
div[b-n47gka2n2f]{
    color: white;
}
table[b-n47gka2n2f]{
    color: white;
}
/* _content/SpaceForceEvaluations/Components/TextQuestionsHolder.razor.rz.scp.css */
body[b-2vrc6v01fr] {
}

.maincomponent[b-2vrc6v01fr] {
    background-image: linear-gradient(180deg, #002035 0%, #000f 99%);
    color: white;
    border-style: double;
    border-color: #7f838a;
}

input[type="radio"][b-2vrc6v01fr] {
    margin: 0 5px 25px 10px;
}

input[type="InputRadio"][b-2vrc6v01fr] {
    margin: 0 5px 25px 10px;
}

input[type="text"][b-2vrc6v01fr] {
    width: 200px;
}
button[b-2vrc6v01fr]{
    margin-top: 1vh;
}
/* _content/SpaceForceEvaluations/Components/TextResponseReportHolder.razor.rz.scp.css */
body[b-jb99hgfe50] {
}


.container[b-jb99hgfe50] {
    max-width: 1600px;
    margin: 0 auto;
    padding: 40px 20px;
    justify-items: center;
    text-align: center;
}

table[b-jb99hgfe50] {
    color: white;
}

.scroll[b-jb99hgfe50] {
    height: 75vh;
    overflow-y: auto;
}

.btn-primary[b-jb99hgfe50] {
    min-width: 200px;
    font-size: 16px;
    position: center;
}

.reportComponent[b-jb99hgfe50] {
    position: absolute;
    width: 100%;
}
/* _content/SpaceForceEvaluations/Components/UserProfileHolder.razor.rz.scp.css */
body[b-emw8fo77wp] {
}
/* _content/SpaceForceEvaluations/Pages/Accolades.razor.rz.scp.css */
body[b-juzrpudchx] {
}

.mainDiv[b-juzrpudchx] {
    background-image: linear-gradient(180deg, #002035 0%, #000f 99%);
    color: #7f838a;
    height: 100vh;
    text-align: center;
}

.container[b-juzrpudchx] {
    max-width: 1600px;
    margin: 0 auto;
    padding: 40px 20px;
    justify-items: center;
    text-align: center;
}

.btn-primary[b-juzrpudchx] {
    font-size: 16px;
    position: center;
    padding: 0.5px;
}
/* _content/SpaceForceEvaluations/Pages/Account.razor.rz.scp.css */
/* Main page */
.mainDiv[b-9c49sc1y2p] {
    background-image: linear-gradient(180deg, #002035 0%, #000f 99%);
    color: #7f838a;
    height: 100vh;
    text-align: center;
}

h1[b-9c49sc1y2p] {
    line-height: 2;
    border-bottom: 1px solid gray;
}

/* Container for page contents */
.container[b-9c49sc1y2p] {
    max-width: 1600px;
    margin: 0 auto;
    padding: 40px 20px;

}

/* Aligns content in the container to the left */
.formoption[b-9c49sc1y2p] {
    width: 0;
}

label[b-9c49sc1y2p] {
    font-size: 18px;
    text-align: left;
    padding: 15px 0px;
}

EditForm[b-9c49sc1y2p] {
    display: inline-block;
    border-top: 1px solid gray;
}
/* _content/SpaceForceEvaluations/Pages/Landing.razor.rz.scp.css */
/* Main page */
.mainDiv[b-2saf0orf5o] {
    background-image: linear-gradient(180deg, #002035 0%, #000f 99%);
    color: #7f838a;
    height: 100vh;
    text-align: center;
}

/* Container for page contents */
.container[b-2saf0orf5o] {
    max-width: 1600px;
    margin: 0 auto;
    padding: 40px 20px;
    justify-items: center;
    text-align: center;
}

/* Custom card for contents inside containers */
.col-2[b-2saf0orf5o] {
    padding: 10px 0;
    border: 3px solid gray;
    border-radius: 15px;
    box-shadow: 5px 5px 3px 4px black;
    background-color: lightblue;
    height: 100%;
    min-width: 250px;
}

/* Default Grid CSS */
.grid[b-2saf0orf5o] {
    display: grid;
    gap: 15px;
    padding-block: 2rem;
    grid-template-columns: repeat(2, 1fr);
}

.btn-primary[b-2saf0orf5o] {
    font-size: 16px;
    position: center;
    padding: 0.5px;
}

/* Mobile devices */
@media(max-width: 768px) {
    .grid[b-2saf0orf5o] {
        grid-template-columns: 1fr;
    }

    .col-2[b-2saf0orf5o] {
        min-width: 220px;
    }
}
/* _content/SpaceForceEvaluations/Pages/Login.razor.rz.scp.css */
:root[b-qyds3voz9g] {
}

/* Main body CSS */
body[b-qyds3voz9g] {
    background-image: linear-gradient(180deg, #002035 0%, #000f 99%);
    /*color: #7f838a;*/
    color: white;
    min-height: 800px;
}

/* Basic CSS */
*[b-qyds3voz9g] {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1[b-qyds3voz9g] {
    line-height: 2;
}

a[b-qyds3voz9g] {
    text-decoration: none;
}

ul[b-qyds3voz9g] {
    list-style: none;
}

img[b-qyds3voz9g] {
    width: 100%;
}

div h1[b-qyds3voz9g] {
    text-align: center;
}

h2[b-qyds3voz9g] {
    font-size: 18px;
    color: black;
}

/* Container for page contents */
.container[b-qyds3voz9g] {
    max-width: 1600px;
    margin: 0 auto;
    padding: 40px 20px;

    justify-items: center;
    text-align: center;
}

/* Custom card for contents inside Containers */
.col-2[b-qyds3voz9g] {
    padding: 10px 0;
    border-radius: 15px;
    background: steelblue;
    border: 3px solid black;
    height: 100%;
    min-width: 300px;
    margin: auto;
}

.taken[b-qyds3voz9g] {
    background: rgb(0,119,20);
    background: radial-gradient(circle, rgba(0,119,20,1) 0%, rgba(7,227,36,1) 45%, rgba(0,119,20,1) 100%);
    border: 3px solid black;
}

.notTaken[b-qyds3voz9g] {
    background: rgb(102,0,0);
    background: linear-gradient(90deg, rgba(102,0,0,1) 0%, rgba(227,7,7,1) 45%, rgba(97,0,0,1) 100%);
}

/* Default grid CSS */
.grid[b-qyds3voz9g] {
    display: grid;
    gap: 15px;
    padding-block: 2rem;
    grid-template-columns: repeat(3, 1fr);

}

.flex[b-qyds3voz9g] {
    display: flex;
    margin-top: 10px;
}

.btn-primary[b-qyds3voz9g]{
    min-width: 80px;
    font-size: 16px;
    position: center;
    padding: 0.5px;
}


/* Mobile View */
@media(max-width: 1000px) {
    .grid[b-qyds3voz9g] {
        grid-template-columns: 1fr;
    }

    .flex[b-qyds3voz9g] {
        flex-wrap: wrap;
    }

    div[b-qyds3voz9g] {
        margin-bottom: 20px;
    }
}

@media(max-width: 350px) {
    .col-2[b-qyds3voz9g] {
        min-width: 180px;
    }
}
/* _content/SpaceForceEvaluations/Pages/Monthly.razor.rz.scp.css */
body[b-14ehcwd0li] {
}
/* Main page */
.mainDiv[b-14ehcwd0li] {
    background-image: linear-gradient(180deg, #002035 0%, #000f 99%);
    color: #7f838a;
    min-height: 100vh;
    text-align: center;
}

div button[b-14ehcwd0li] {
    opacity: 1;
    animation-name: fadeIn-b-14ehcwd0li;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 10s;
}

@keyframes fadeIn-b-14ehcwd0li {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
button[b-14ehcwd0li] {
    box-shadow: inset 0px 0px 15px 3px #23395e;
    background: linear-gradient(to bottom, #2e466e 5%, #415989 100%);
    background-color: #2e466e;
    border-radius: 10px;
    border: 1px solid #1f2f47;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 6px 13px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #4682b4;
}

    button:hover[b-14ehcwd0li] {
        background: linear-gradient(to bottom, #415989 5%, #2e466e 100%);
        background-color: #415989;
    }
/* _content/SpaceForceEvaluations/Pages/Profile.razor.rz.scp.css */
/* Main page */
.mainDiv[b-v2o82lkojk] {
    background-image: linear-gradient(180deg, #002035 0%, #000f 99%);
    color: white;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

/* Basic CSS */
*[b-v2o82lkojk] {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a[b-v2o82lkojk] {
    text-decoration: none;
}

ul[b-v2o82lkojk] {
    list-style: none;
}

img[b-v2o82lkojk] {
    display: inline;
    max-width: 2vw;
}
img:hover + .hide[b-v2o82lkojk]{
    display: block;
    color: white;
}
.hide[b-v2o82lkojk]{
    display: none;
}
/* Container for page contents */
.container[b-v2o82lkojk]  {
    max-width: 1600px;
    margin: 0 auto;
    padding: 40px 20px;
    justify-items: center;
    text-align: center;
}

.formoption[b-v2o82lkojk] {
    width: 0;
}

.btn-primary[b-v2o82lkojk] {
    min-width: 80px;
    font-size: 16px;
    position: center;
    padding: 0.5px;
}

table[b-v2o82lkojk] {
    color: white;
}

.scroll[b-v2o82lkojk] {
    height: 75vh;
    overflow-y: auto;
}

/* Default grid CSS */
.grid[b-v2o82lkojk] {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-col-span-2[b-v2o82lkojk] {
    grid-column: span 2;
}

/* Mobile devices */
@media(max-width: 768px) {
    .grid[b-v2o82lkojk] {
        grid-template-columns: 1fr;
    }

    .grid-col-span-2[b-v2o82lkojk] {
        grid-column: span 1;
    }
}
/* _content/SpaceForceEvaluations/Pages/Reports.razor.rz.scp.css */
body[b-o2ye6ss7r8] {
}

.mainDiv[b-o2ye6ss7r8] {
    background-image: linear-gradient(180deg, #002035 0%, #000f 99%);
    color: white;
    min-height: 100vh;
    text-align: center;
}

.container[b-o2ye6ss7r8] {
    max-width: 1600px;
    margin: 0 auto;
    padding: 40px 20px;
    justify-items: center;
    text-align: center;
}

table[b-o2ye6ss7r8] {
    color: white;
}

.scroll[b-o2ye6ss7r8] {
    height: 75vh;
    overflow-y: auto;
}

.btn-primary[b-o2ye6ss7r8] {
    min-width: 200px;
    font-size: 16px;
    position: center;
}
.reportComponent[b-o2ye6ss7r8] {
    position: absolute;
    width: 100%;
}
/* _content/SpaceForceEvaluations/Pages/Survey.razor.rz.scp.css */
/* Main page */
.mainDiv[b-5j160uinxx] {
    background-image: linear-gradient(180deg, #002035 0%, #000f 99%);
    color: #7f838a;
    min-height: 100vh;
    text-align: center;
}
button[b-5j160uinxx] {
    box-shadow: inset 0px 0px 15px 3px #23395e;
    background: linear-gradient(to bottom, #2e466e 5%, #415989 100%);
    background-color: #2e466e;
    border-radius: 10px;
    border: 1px solid #1f2f47;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 6px 13px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #4682b4;
}

    button:hover[b-5j160uinxx] {
        background: linear-gradient(to bottom, #415989 5%, #2e466e 100%);
        background-color: #415989;
    }
/* _content/SpaceForceEvaluations/Pages/Weekly.razor.rz.scp.css */
body[b-qyidqirjlb] {
}
.mainDiv[b-qyidqirjlb] {
    background-image: linear-gradient(180deg, #002035 0%, #000f 99%);
    color: #7f838a;
    min-height: 100vh;
    text-align: center;
}

div button[b-qyidqirjlb] {
    opacity: 1;
    animation-name: fadeIn-b-qyidqirjlb;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 10s;
}

@keyframes fadeIn-b-qyidqirjlb {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
button[b-qyidqirjlb] {
    box-shadow: inset 0px 0px 15px 3px #23395e;
    background: linear-gradient(to bottom, #2e466e 5%, #415989 100%);
    background-color: #2e466e;
    border-radius: 10px;
    border: 1px solid #1f2f47;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 6px 13px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #4682b4;
}
button:hover[b-qyidqirjlb] {
    background: linear-gradient(to bottom, #415989 5%, #2e466e 100%);
    background-color: #415989;
}
/* _content/SpaceForceEvaluations/Shared/LoginDisplay.razor.rz.scp.css */
body[b-99lf2g0kor]{

}
/* _content/SpaceForceEvaluations/Shared/MainLayout.razor.rz.scp.css */
:root[b-4m02i15hvc] {
}

/* Body (Entire nav) */
body[b-4m02i15hvc] {
    background-image: url(https://i.imgur.com/t2DloqT.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Basic CSS */
*[b-4m02i15hvc]   {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1[b-4m02i15hvc] {
    line-height: 2;
}

a[b-4m02i15hvc] {
    text-decoration: none;
}

ul[b-4m02i15hvc] {
    list-style: none;
}

img[b-4m02i15hvc] {
    width: 100%;
}

/* Footer for About link */
footer[b-4m02i15hvc] {
    background: steelblue;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}

footer a[b-4m02i15hvc] {
    color: white;
}

/* Topbox (disabled) */
.topbox[b-4m02i15hvc] {
    background: darkgray;
    border-bottom: 1px solid steelblue;
    padding-bottom: 0;
    height: 22px;
    text-align: center;
    flex: 0 1 auto;
}

.topbox p a[b-4m02i15hvc] {
    font-size: 18px;
}

/* Infobox (entire body of nav menu) */
.infobox[b-4m02i15hvc] {
}

.infobox .flex[b-4m02i15hvc] {
    justify-content: space-between;
    margin: 0px auto;
}

/* Default flex CSS */
.flex[b-4m02i15hvc] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Container for page contents */
.container[b-4m02i15hvc] {
    max-width: 1600px;
    margin: 0 auto;
    overflow: auto;
    padding: 10px 40px;
}

/* Title */
.sitetitle[b-4m02i15hvc] {
    margin: 0;
    padding: 0;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 26px;
}

/* Space Force Logo */
.logo[b-4m02i15hvc] {
    min-width: 100px;
    max-width: 100px;
}

/* Navigation List */
.infobox ul[b-4m02i15hvc] {
    display: flex;
}

/* Individual Links */
ul a[b-4m02i15hvc] {
    padding: 10px;
    margin: 0 5px;
    border-radius: 10px;
    color: whitesmoke;
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 24px;
    text-transform: uppercase;
    font-family: fantasy;
}

ul a:hover[b-4m02i15hvc] {
    color: steelblue;
    transform: scale(0.8);
}

/* Welcome User Box */
.userbox[b-4m02i15hvc] {
    margin: 20px;
    padding: 10px 10px;
    color: whitesmoke;
    background-color: steelblue;
    border-radius: 15px;
}


/* Tablets */
@media(max-width: 768px) {
    .infobox ul[b-4m02i15hvc] {
        flex-wrap: wrap;
        justify-content: center;
    }

    .infobox a[b-4m02i15hvc] {
        font-size: 14px;
    }

    .infobox[b-4m02i15hvc] {

    }
}

/* Most phones */
@media(max-width: 500px){
    .sitetitle[b-4m02i15hvc] {
        font-size: 18px;
    }
    .infobox ul[b-4m02i15hvc] {
        flex-wrap: wrap;
        justify-content: center;
        height: 80px;
    }

    .infobox a[b-4m02i15hvc] {
        font-size: 12px;
    }
}

/* Small phones */
@media(max-width: 340px) {
    .sitetitle[b-4m02i15hvc] {
        font-size: 14px;
    }

    .infobox ul[b-4m02i15hvc] {
        flex-wrap: wrap;
        justify-content: center;
    }

    .infobox a[b-4m02i15hvc] {
        font-size: 10px;
    }

    .userbox[b-4m02i15hvc] {
        font-size: 10px;
    }
}

/*
.top-row ::deep a, .top-row .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
}

.top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {


    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
    */
/* _content/SpaceForceEvaluations/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-gm337wb2xa] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-gm337wb2xa] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-gm337wb2xa] {
    font-size: 1.1rem;
}

.oi[b-gm337wb2xa] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-gm337wb2xa] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-gm337wb2xa] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-gm337wb2xa] {
        padding-bottom: 1rem;
    }

    .nav-item[b-gm337wb2xa]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-gm337wb2xa]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-gm337wb2xa]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-gm337wb2xa] {
        display: none;
    }

    .collapse[b-gm337wb2xa] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* _content/SpaceForceEvaluations/Shared/NotAuthorized.razor.rz.scp.css */

.mainDiv[b-t0ec31nrvo] {
    background-image: linear-gradient(180deg, #002035 0%, #000f 99%);
    color: #7f838a;
    height: 100vh;
    width: 78vw;
}
div[b-t0ec31nrvo] {
    background-image: linear-gradient(180deg, #002035 0%, #000f 99%);
    color: #7f838a;
    min-height: 50vh;
    text-align: center;
}
}
