/* _content/SpaceForceEvaluations/Components/DailyQuestionHolder.razor.rz.scp.css */
body[b-a5t3ivg6ll] {

}
.maincomponent[b-a5t3ivg6ll] {
    background-image: linear-gradient(180deg, #002035 0%, #000f 99%);
    color: #7f838a;
    border-style: double;
    border-color: #7f838a;
}
input[type="radio"][b-a5t3ivg6ll] {
    margin: 0 5px 25px 10px;
}
/* _content/SpaceForceEvaluations/Pages/Account.razor.rz.scp.css */
body[b-9c49sc1y2p] {

}
.mainDiv[b-9c49sc1y2p] {
    background-image: linear-gradient(180deg, #002035 0%, #000f 99%);
    color: #7f838a; 
    height: 100vh;
    width:  78vw;
    text-align: center;
}

label[b-9c49sc1y2p] {
    width: 100px;
    display: inline-block;
    text-align: right;
    margin-right: 8px;
}

input[type=text][b-9c49sc1y2p], select[b-9c49sc1y2p] {
    width: 350px;
    padding: 10px;
    margin: 6px 0;
    border: 1px solid #aaa;
    border-radius: 4px;
}

input[type=submit][b-9c49sc1y2p] {
    width: 200px;
    background-color: #09f;
    color: white;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover[b-9c49sc1y2p] {
        background-color: #07d;
}

input[type=text]:focus[b-9c49sc1y2p], input[type=email]:focus[b-9c49sc1y2p] {
    background-color: lightblue;
}

div h1[b-9c49sc1y2p] {
    text-align: center;
}

form[b-9c49sc1y2p] {
    display: inline-block;
    border-top: 1px solid gray;
}
input:invalid[b-9c49sc1y2p] {
    border: 5px solid red;
}
/* _content/SpaceForceEvaluations/Pages/Login.razor.rz.scp.css */
body[b-qyds3voz9g] {

}
.mainDiv[b-qyds3voz9g] {
    background-image: linear-gradient(180deg, #002035 0%, #000f 99%);
    color: #7f838a; 
    height: 100vh;
    width:  78vw;
    text-align: center;
}

.col-2[b-qyds3voz9g] {
    margin: 50px;
    padding: 25px;
    width: 400px;
    display: inline-block;
    border: 3px solid gray;
    border-radius: 15px;
    box-shadow: 5px 5px 3px 4px black;
    background-color: lightblue;
    flex: 0 1 auto;
}

div h1[b-qyds3voz9g] {
    text-align: center;
}

h2[b-qyds3voz9g] {
    font-size: 52px;
    color: black;
}

.flex[b-qyds3voz9g] {
    display: flex;
    justify-content: space-around;
}

.vline[b-qyds3voz9g] {
    display: block;
    height: 300px;
    border: 1px solid gray;
}
/* _content/SpaceForceEvaluations/Pages/Profile.razor.rz.scp.css */
body[b-v2o82lkojk] {
}
/* _content/SpaceForceEvaluations/Pages/Survey.razor.rz.scp.css */
body[b-5j160uinxx] {
}
.page[b-5j160uinxx] {
    background-image: linear-gradient(180deg, #002035 0%, #000f 99%);
    color: #7f838a;
    height: 100vh;
    width: 78vw;
}
/* _content/SpaceForceEvaluations/Shared/LoginDisplay.razor.rz.scp.css */
body[b-99lf2g0kor]{

}
/* _content/SpaceForceEvaluations/Shared/MainLayout.razor.rz.scp.css */
.page[b-4m02i15hvc] {
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url(https://i.imgur.com/t2DloqT.jpeg);
    color: #7f838a;
}

main[b-4m02i15hvc] {
    flex: 1;
}

.sidebar[b-4m02i15hvc] {
    /*    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);*/
    background-image: linear-gradient(180deg, #002035 0%, #000f 99%);
}

.top-row[b-4m02i15hvc] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
    opacity: 0;
}

    .top-row[b-4m02i15hvc]  a, .top-row .btn-link[b-4m02i15hvc] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-4m02i15hvc] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-4m02i15hvc] {
        display: none;
    }

    .top-row.auth[b-4m02i15hvc] {
        justify-content: space-between;
    }

    .top-row a[b-4m02i15hvc], .top-row .btn-link[b-4m02i15hvc] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-4m02i15hvc] {
        flex-direction: row;
    }

    .sidebar[b-4m02i15hvc] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-4m02i15hvc] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-4m02i15hvc], article[b-4m02i15hvc] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/SpaceForceEvaluations/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-gm337wb2xa] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-gm337wb2xa] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-gm337wb2xa] {
    font-size: 1.1rem;
}

.oi[b-gm337wb2xa] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-gm337wb2xa] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-gm337wb2xa] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-gm337wb2xa] {
        padding-bottom: 1rem;
    }

    .nav-item[b-gm337wb2xa]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-gm337wb2xa]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-gm337wb2xa]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-gm337wb2xa] {
        display: none;
    }

    .collapse[b-gm337wb2xa] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* _content/SpaceForceEvaluations/Shared/NotAuthorized.razor.rz.scp.css */

.mainDiv[b-t0ec31nrvo] {
    background-image: linear-gradient(180deg, #002035 0%, #000f 99%);
    color: #7f838a;
    height: 100vh;
    width: 78vw;
}
