@inject IUserData userData

<div>
    <!-- TODO: show the selectedSurvey's data here' -->
    <!-- TODO: show the selectedSurvey's data here, if the user has ADCON and is looking at someone else's survey, show adcon features here' -->
    <p>TODO: Ask Roger if this is the information he wants to display here</p>
    <p>Survey question / answers</p>

    <MudDivider />
    <div>
        <h6>Question 1</h6>
        <div style="padding-left: 5%; padding-bottom: 2%">
            <p><b>Question: </b> Do you like cheese?</p>
            <p><b>Type: </b>insanity check</p>
            <p><b>Response: </b>Absolutely, I am not a mad man</p>
        </div>
    </div>
    <MudDivider />
    <div>
        <h6>Question 2</h6>
        <div style="padding-left: 5%; padding-bottom: 2%">
            <p><b>Question: </b> Do you like cheese?</p>
            <p><b>Type: </b>insanity check</p>
            <p><b>Response: </b>Absolutely, I am not a mad man</p>
        </div>
    </div>
    <MudDivider />
    <div>
        <h6>Question 3</h6>
        <div style="padding-left: 5%; padding-bottom: 2%">
            <p><b>Question: </b> Do you like cheese?</p>
            <p><b>Type: </b>insanity check</p>
            <p><b>Response: </b>Absolutely, I am not a mad man</p>
        </div>
    </div>
    <MudDivider />
    <div>
        <h6>Question 4</h6>
        <div style="padding-left: 5%; padding-bottom: 2%">
            <p><b>Question: </b> Do you like cheese?</p>
            <p><b>Type: </b>insanity check</p>
            <p><b>Response: </b>Absolutely, I am not a mad man</p>
        </div>
    </div>
    <MudDivider />
    <div>
        <h6>Question 5</h6>
        <div style="padding-left: 5%; padding-bottom: 2%">
            <p><b>Question: </b> Do you like cheese?</p>
            <p><b>Type: </b>insanity check</p>
            <p><b>Response: </b>Absolutely, I am not a mad man</p>
        </div>
    </div>
    <MudDivider />

    <p>TODO: Ask Roger if these are the actions he wants to display/allow here</p>
    <p>none</p>

    <!-- TODO: conditionally disable buttons when necessary -->
</div>