@inject IDailyQuestionsData questionData

<form id="dailyquestionform">
<!--Question Text-->
@*<h4>@QuestionText</h4>*@
<button @onclick="@GenerateQuestion">Click to show your RaNdOmLy GeNeRaTeD qUeStIoN</button>
<h4>@TestQuestion</h4>

<!--Radio button for responses-->
<input type="radio" id="radioOne" name="value" value=1>
<label for="radioOne">1</label>

<input type="radio" id="radioTwo" name="value" value=2>
<label for="radioTwo">2</label>

<input type="radio" id="radioThree" name="value" value=3>
<label for="radioThree">3</label>

<input type="radio" id="radioFour" name="value" value=4>
<label for="radioFour">4</label>

<input type="radio" id="radioFive" name="value" value=5 >
<label for="radioFive">5</label>

<div><button type="submit">Submit</button></div>

</form>
@code {
    //[ParameterAttribute]
    //public string QuestionText { get; set; } = "";
    public string TestQuestion = "";

    private async Task GenerateQuestion()
    {
        DailyQuestionsModel questionModel = await questionData.GetDailyQuestion("1");
        TestQuestion = questionModel.text;
    }

}
