body {
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 40px 20px;
    justify-items: center;
    text-align: center;
}

table {
    color: white;
}

.scroll {
    max-height: 75vh;
    min-width: 50%;
    overflow-y: auto;
}

.btn-primary {
    min-width: 200px;
    font-size: 16px;
    position: center;
}

.flexitup {
    display: flex;
    gap: 100px;
}

.reportComponent {
    position: absolute;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.chartDiv{
    width: 75%;
}