<h3>QuestionsHolder</h3>
@if(SurveyType == "Daily")
{
    <DailyQuestionHolder QuestionText=@QuestionText></DailyQuestionHolder>    
}
@code {
    // Default type is set to blank
    [ParameterAttribute]
    public string SurveyType { get; set; } = "";
    [ParameterAttribute]
    public string QuestionText { get; set; } = "";
}
