body {
}

.maincomponent {
    background-image: linear-gradient(180deg, #002035 0%, #000f 99%);
    color: white;
    border-style: double;
    border-color: #7f838a;
}

input[type="radio"] {
    margin: 0 5px 25px 10px;
}

input[type="InputRadio"] {
    margin: 0 5px 25px 10px;
}

input[type="text"] {
    width: 200px;
}
button{
    margin-top: 1vh;
}