body[b-qyds3voz9g] {

}
.mainDiv[b-qyds3voz9g] {
    background-image: linear-gradient(180deg, #002035 0%, #000f 99%);
    color: #7f838a; 
    height: 100vh;
    text-align: center;
}

.col-2[b-qyds3voz9g] {
    margin: 50px;
    padding: 25px;
    width: 25vw;
    display: inline-block;
    border: 3px solid gray;
    border-radius: 15px;
    box-shadow: 5px 5px 3px 4px black;
    background-color: lightblue;
    flex: 0 1 auto;
}

div h1[b-qyds3voz9g] {
    text-align: center;
}

h2[b-qyds3voz9g] {
    font-size: 52px;
    font-size: 2.5vw;
    color: black;
}

.flex[b-qyds3voz9g] {
    display: flex;
    justify-content: space-around;
}

.vline[b-qyds3voz9g] {
    display: block;
    height: 300px;
    border: 1px solid gray;
}
