body[b-14ehcwd0li] {
}
/* Main page */
.mainDiv[b-14ehcwd0li] {
    background-image: linear-gradient(180deg, #002035 0%, #000f 99%);
    color: #7f838a;
    min-height: 100vh;
    text-align: center;
}

div button[b-14ehcwd0li] {
    opacity: 1;
    animation-name: fadeIn-b-14ehcwd0li;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 10s;
}

@keyframes fadeIn-b-14ehcwd0li {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
button[b-14ehcwd0li] {
    box-shadow: inset 0px 0px 15px 3px #23395e;
    background: linear-gradient(to bottom, #2e466e 5%, #415989 100%);
    background-color: #2e466e;
    border-radius: 10px;
    border: 1px solid #1f2f47;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 6px 13px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #4682b4;
}

    button:hover[b-14ehcwd0li] {
        background: linear-gradient(to bottom, #415989 5%, #2e466e 100%);
        background-color: #415989;
    }