/* Main page */
.mainDiv[b-v2o82lkojk] {
    background-image: linear-gradient(180deg, #002035 0%, #000f 99%);
    color: white;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

/* Basic CSS */
*[b-v2o82lkojk] {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a[b-v2o82lkojk] {
    text-decoration: none;
}

ul[b-v2o82lkojk] {
    list-style: none;
}

img[b-v2o82lkojk] {
    display: inline;
    max-width: 2vw;
}
img:hover + .hide[b-v2o82lkojk]{
    display: block;
    color: white;
}
.hide[b-v2o82lkojk]{
    display: none;
}
/* Container for page contents */
.container[b-v2o82lkojk]  {
    max-width: 1600px;
    margin: 0 auto;
    padding: 40px 20px;
    justify-items: center;
    text-align: center;
}

.formoption[b-v2o82lkojk] {
    width: 0;
}

.btn-primary[b-v2o82lkojk] {
    min-width: 80px;
    font-size: 16px;
    position: center;
    padding: 0.5px;
}

table[b-v2o82lkojk] {
    color: white;
}

.scroll[b-v2o82lkojk] {
    height: 75vh;
    overflow-y: auto;
}

/* Default grid CSS */
.grid[b-v2o82lkojk] {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-col-span-2[b-v2o82lkojk] {
    grid-column: span 2;
}

/* Mobile devices */
@media(max-width: 768px) {
    .grid[b-v2o82lkojk] {
        grid-template-columns: 1fr;
    }

    .grid-col-span-2[b-v2o82lkojk] {
        grid-column: span 1;
    }
}