body {
}

.mainDiv {
    background-image: linear-gradient(180deg, #002035 0%, #000f 99%);
    color: #7f838a;
    height: 100vh;
    text-align: center;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 40px 20px;
    justify-items: center;
    text-align: center;
}

.btn-primary {
    font-size: 16px;
    position: center;
    padding: 0.5px;
}