/* Main page */
.mainDiv {
    background-image: linear-gradient(180deg, #002035 0%, #000f 99%);
    color: #7f838a;
    height: 100vh;
    text-align: center;
}

h1 {
    line-height: 2;
    border-bottom: 1px solid gray;
}

/* Container for page contents */
.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 40px 20px;

}

/* Aligns content in the container to the left */
.formoption {
    width: 0;
}

label {
    font-size: 18px;
    text-align: left;
    padding: 15px 0px;
}

EditForm {
    display: inline-block;
    border-top: 1px solid gray;
}