@page "/Landing"

<PageTitle>Landing</PageTitle>

<h1>Space Force Evaluations Project</h1>

<h3>Thank you, your response has been noted.</h3>

    <div class = "col-2">
        <input type = "button" class = "btn btn-primary" value ="Logout" onclick="location.href='MicrosoftIdentity/Account/SignOut'"/>
    </div>

@*         <div class ="form-group row">
            <div class = "col-2">
                <input type = "button" class = "btn btn-primary" value ="Offer Accolade" onclick=""/>
            </div>
        </div>*@

@code
{

}