/* Main page */
.mainDiv {
    background-image: linear-gradient(180deg, #002035 0%, #000f 99%);
    color: #7f838a;
    height: 100vh;
    text-align: center;
}

/* Container for page contents */
.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 40px 20px;
    justify-items: center;
    text-align: center;
}

/* Custom card for contents inside containers */
.col-2 {
    padding: 10px 0;
    border: 3px solid gray;
    border-radius: 15px;
    box-shadow: 5px 5px 3px 4px black;
    background-color: lightblue;
    height: 100%;
    min-width: 250px;
}

/* Default Grid CSS */
.grid {
    display: grid;
    gap: 15px;
    padding-block: 2rem;
    grid-template-columns: repeat(2, 1fr);
}

.btn-primary {
    font-size: 16px;
    position: center;
    padding: 0.5px;
}

/* Mobile devices */
@media(max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .col-2 {
        min-width: 220px;
    }
}