@page "/"
@inherits LayoutComponentBase
<PageTitle>Login</PageTitle>



<div class=mainDiv>

    <h1>Login to continue</h1>
    <div class="" style="padding:20px">
    <form method="post">

    </form>
    </div>
<AuthorizeView>
    <Authorized>
        <div class = "col-2">
            <input type = "button" class = "btn btn-primary" value ="Take Daily Survey" onclick="location.href='/Survey'"/>
        </div>
    </Authorized>
    <NotAuthorized>
        <div>
        <div class = "col-2">
            <input type = "button" class = "btn btn-primary" value ="Login" onclick="location.href='MicrosoftIdentity/Account/SignIn'"/>
        </div>
        </div>
    </NotAuthorized>
</AuthorizeView>



</div>

@code
    {

    }
