@page "/"

<PageTitle>Login</PageTitle>

<h1>Login to continue</h1>

<div class="containter border" style="padding:20px">
    <form method="post">
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Credential.UserName">UserName</label>
            </div>
                <div class="col-5">
                    <input type="text" asp-for="Credential.UserName" />
                </div>
        </div>

        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Credential.Password">Password</label>
            </div>
                <div class="col-5">
                    <input type="password" asp-for="Credential.Password" />
                </div>
        </div>
        <div class ="form-group row">
            <div class = "col-2">
                <input type = "button" class = "btn btn-primary" value ="Login" onclick="location.href='/Survey'"/>
            </div>
        </div>
    </form>
</div>

@code
    {

    }
