@page "/"
@inherits LayoutComponentBase
<PageTitle>Login</PageTitle>



<div class=mainDiv>
    <AuthorizeView>
        <NotAuthorized>
            <h1>Login to continue</h1>
            <div class="" style="padding:20px">
            <form method="post">

            </form>
            </div>
        </NotAuthorized>
    </AuthorizeView>

<AuthorizeView>
    <Authorized>
        <div class="flex">
            <section class = "col-2">
                <h2>Take <strong>Daily</strong> Survey</h2>
                <input type = "button" class = "btn btn-primary" value ="Begin" onclick="location.href='/Survey'"/>
            </section>
            <span class="vline"></span>
            <section class = "col-2">
                <h2>Take <strong>Weekly</strong> Survey</h2>
                <input type = "button" class = "btn btn-primary" value ="Begin" onclick="location.href='/Weekly'"/>
            </section>
            <span class="vline"></span>
            <section class = "col-2">
                <h2>Take <strong>Monthly</strong> Survey</h2>
                <input type = "button" class = "btn btn-primary" value ="Begin"/>
            </section>
        </div>
    </Authorized>
    <NotAuthorized>
        <div>
        <div class = "col-2">
            <input type = "button" class = "btn btn-primary" value ="Login" onclick="location.href='MicrosoftIdentity/Account/SignIn'"/>
        </div>
        </div>
    </NotAuthorized>
</AuthorizeView>



</div>

@code
    {

    }
