@page "/SampleData"
@attribute [Authorize]
@inject IUserData userData
@inject IDailyQuestionsData questionData

<h3>Sample Data</h3>
<button @onclick="DisplayUser">Show User</button>
<button @onclick="GenerateQuestion">Show Question</button>
<p>@userName</p>
<p>@Question</p>
@code {
    string userName = "";
    string Question = "";
    //function for testing if we can imput data

    private async Task DisplayUser()
    {
        UserModel newUser = await userData.GetUserFromAuthentication("ABC-123");
        userName = newUser.firstName;
    }

    private async Task GenerateQuestion()
    {
        DailyQuestionsModel newQuestion = await questionData.GetDailyQuestion(1);
        Question = newQuestion.text;
    }

}
