@page "/Survey"
@attribute [Authorize]
@inject IDailyQuestionsData questionData
@inject AuthenticationStateProvider authProvider
@inject IUserData userData
@inject NavigationManager navManager

<PageTitle>Survey</PageTitle>

<div class="mainDiv">

    <!--Survey questions hidden by default-->
    <SpaceForceEvaluations.Components.DailyQuestionHolder></SpaceForceEvaluations.Components.DailyQuestionHolder>
@*    <div><button type="submit" onclick="location.href='/Landing'">Submit</button></div>*@

</div>


@code {
    //private SurveyModel survey = new();
    //private UserModel loggedInUser;
    //private string surveyItem = "";
    //private string surveyItem2 = "";
    //private string surveyItem3 = "";
    //private string WeeklyPoll = "What feedback do you have?";
    //private Random rnd = new Random();
    //private int NumQuestion;
    //private string SurveyType;
    //private int numWeekly;

    bool IsTaskRunning = false;

    //private string testQuestion = "This is a test Question";

    // Function for showing the question
    //private string showQuestion(int questionNumber)
    //{
    //    return "This is Question number " + questionNumber + ".";
    //}

}

