@page "/Survey"
@attribute [Authorize]
@inject IDailyQuestionsData questionData
@inject AuthenticationStateProvider authProvider
@inject IUserData userData
@inject NavigationManager navManager

<PageTitle>Survey</PageTitle>

<div class="mainDiv">
    <div style = "text-align: center;"> 
    <font COLOR="#ffffff">
    <!--Survey questions hidden by default-->
        <div style="padding-top: 100px">
    <SpaceForceEvaluations.Components.DailyQuestionHolder></SpaceForceEvaluations.Components.DailyQuestionHolder>
        </div>
    <div><button type="submit" onclick="location.href='/'">Complete Survey</button></div>
        </font>
    </div>
</div>



@code {
    

}

