@page "/Survey"
@attribute [Authorize]
@inject IDailyQuestionsData questionData
@inject AuthenticationStateProvider authProvider
@inject IUserData userData
@inject NavigationManager navManager

<PageTitle>Survey</PageTitle>

<div class="mainDiv">

    <!--Survey questions hidden by default-->
    <SpaceForceEvaluations.Components.DailyQuestionHolder></SpaceForceEvaluations.Components.DailyQuestionHolder>
    <div><button style="visibility: @showButton"type="submit" onclick="location.href='/Landing'">Complete Survey</button></div>

</div>


@code {
    public string showButton = "Hidden";
    bool IsTaskRunning = false;
    protected override async Task OnInitializedAsync()
    {
        await ShowButton();
    }

    // Don't show the navigate button for 10 seconds on page load
    private async Task ShowButton()
    {
        await Task.Delay(10000);
        showButton = "";
    }

    //private string testQuestion = "This is a test Question";

    // Function for showing the question
    //private string showQuestion(int questionNumber)
    //{
    //    return "This is Question number " + questionNumber + ".";
    //}

}

