@inject IUserData userData

<MudDialog>
    <DialogContent>
         <!--
            <div>
                <h6>Question 3</h6>
                <div style="padding-left: 5%; padding-bottom: 2%">
                    <p><b>Question: </b> Do you like cheese?</p>
                    <p><b>Type: </b>insanity check</p>
                    <p><b>Response: </b>Absolutely, I am not a mad man</p>
                </div>
            </div>
            <MudDivider />

                 --><SpaceForceEvaluations.Components.CompletedSurveyContentHolder/>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Close</MudButton>
    </DialogActions>
</MudDialog>


@code {



    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter] public UserModel currentUser { get; set; }

    void Submit() => MudDialog.Close(DialogResult.Ok(true));
    void Cancel() => MudDialog.Cancel();

    protected async override Task OnInitializedAsync()
    {

    }
}
