@inject IUserData userData

<MudDialog>
    <DialogContent>
        <div>
            <!-- TODO: show the selectedSurvey's data here' -->
            <p>TODO: Ask Roger if this is the information he wants to display here</p>
            <p>Survey question / answers</p>

            <p>TODO: Ask Roger if these are the actions he wants to display/allow here</p>
            <p>none</p>

            <!-- TODO: conditionally disable buttons when necessary -->
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Close</MudButton>
    </DialogActions>
</MudDialog>


@code {


    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter] public UserModel currentUser { get; set; }

    void Submit() => MudDialog.Close(DialogResult.Ok(true));
    void Cancel() => MudDialog.Cancel();

    protected async override Task OnInitializedAsync()
    {

    }
}
