@page "/Survey"
@attribute [Authorize]
@inject IDailyQuestionsData questionData
@inject AuthenticationStateProvider authProvider
@inject IUserData userData
@inject NavigationManager navManager

<PageTitle>Survey</PageTitle>

<div class="mainDiv">

    <!--Survey questions hidden by default-->
    <SpaceForceEvaluations.Components.DailyQuestionHolder></SpaceForceEvaluations.Components.DailyQuestionHolder>
    <div><button type="submit" onclick="location.href='/'">Complete Survey</button></div>

</div>


@code {


}

