@page "/Teammanagement"
@attribute [Authorize]
@inject AuthenticationStateProvider authProvider
@inject NavigationManager navManager
@inject IUserData userData
@inject IAccoladeData accoladeData
@inject IJSRuntime JsRuntime

<PageTitle>Team Management</PageTitle>

<div class="mainDiv">
    <h1>testing</h1>

    <!--TODO: show list of all users-->
</div>

@code {
    // TODO: get list of all users
    // TODO: filter list to only include those that the current user has direct administrative / operational control over. 
    
    // TODO: copy applicaiton logic here


}
