
.mainDiv[b-t0ec31nrvo] {
    background-image: linear-gradient(180deg, #002035 0%, #000f 99%);
    color: #7f838a;
    height: 100vh;
    width: 78vw;
}
div[b-t0ec31nrvo] {
    background-image: linear-gradient(180deg, #002035 0%, #000f 99%);
    color: #7f838a;
    min-height: 50vh;
    text-align: center;
}
}