<AuthorizeView Policy="Admin">
    <a href="/AdminPage">
        Admin
    </a>
</AuthorizeView>
<AuthorizeView>
    <Authorized>
        <a href="/Profile">
            Profile
        </a>
        <a href="MicrosoftIdentity/Account/SignOut">
            Logout
        </a>
    </Authorized>
    <NotAuthorized>
        <a href="MicrosoftIdentity/Account/SignIn">
            Login
        </a>
    </NotAuthorized>
</AuthorizeView>