@inherits LayoutComponentBase
@inject AuthenticationStateProvider authProvider
@inject IUserData userData


<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<PageTitle>SpaceForceEvaluations</PageTitle>
<head>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        li {
            float: left;
        }

            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

                li a:hover {
                    background-color: #111;
                }
    </style>
</head>
<body>
    <!--Navigation Links-->
    <AuthorizeView>
        <Authorized>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/Profile">Profile</a></li>
                    <li><a href="/Reports">Reports</a></li>
                    <li><a href="/Teammanagement">Team Management</a></li>

                            <li><a href="/MicrosoftIdentity/Account/SignOut">Log out</a></li>
                </ul>
            </nav>
        </Authorized>
    </AuthorizeView>

        <main>
            <div class="top-row px-4">

            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>

</body>
@code{
    public string userFirstName = "";

    protected override async Task OnInitializedAsync()
    {
        await getUserLogin();
    }
    private async Task getUserLogin()
    {
        UserModel currentUser = await AuthenticationStateProviderHelpers.GetUserFromAuth(authProvider, userData);
        if (currentUser != null)
        {
            userFirstName = currentUser.firstName;
        }
    }
}