@inherits LayoutComponentBase
@inject AuthenticationStateProvider authProvider
@inject IUserData userData

<PageTitle>SpaceForceEvaluations</PageTitle>


<body>
            <!--Reference bar
            <div class="topbox">
                <p>Provide <a target="_blank" href="https://dod.teams.microsoft.us/l/team/19%3adod%3a2bf5dee9da7546c494c8d3b5f52f5878%40thread.tacv2/conversations?groupId=cebcc84c-7f65-4e78-9bf8-da0af1e01ded&tenantId=8331b18d-2d87-48ef-a35f-ac8818ebf9b4">Feedback</a> On Teams</p>
            </div>-->


    <!--Main Information Bar-->
    <div class="infobox">

        <!--The Page Title, Motto, Logo-->
        <div class="container flex">
            <a href="/"><img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/f/fb/Seal_of_the_United_States_Space_Force.png" href="/Landing"></a>
            <h1 class="sitetitle">Space Force Evaluations</h1>

            <!--Navigation Links-->
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/Profile">Profile</a></li>
                    <li><a href="/Reports">Reports</a></li>
                    <AuthorizeView>
                        <Authorized>
                            <li><a href="/MicrosoftIdentity/Account/SignOut">Log out</a></li>
                        </Authorized>
                    </AuthorizeView>
                </ul>
            </nav> 

            <!--User Profile Box, only Visible if Signed in-->
            <AuthorizeView>
                <Authorized>
                    <div class="userbox">
                        <p>Welcome, @userFirstName</p>
                    </div>
                </Authorized>
            </AuthorizeView>
        </div>
    </div>

        <div class="mainDiv">

        </div>

        <!--<div class="sidebar">
            <NavMenu />
        </div>-->

        <main>
            <div class="top-row px-4">

            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>

</body>
@code{
    public string userFirstName = "";

    protected override async Task OnInitializedAsync()
    {
        await getUserLogin();
    }
    private async Task getUserLogin()
    {
        UserModel currentUser = await AuthenticationStateProviderHelpers.GetUserFromAuth(authProvider, userData);
        if (currentUser != null)
        {
            userFirstName = currentUser.firstName;
        }
    }
}