@inherits LayoutComponentBase
@inject AuthenticationStateProvider authProvider
@inject IUserData userData


<MudThemeProvider Theme="myTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<PageTitle>SpaceForceEvaluations</PageTitle>
<head>
    <link rel="stylesheet" href="/css/fonts.css" />
    <style>
        body {
            margin: 0;
            padding: 0;
            height: 100%;
            background-color: #003B73;
        }

        .container-flex {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 8px 12px;
            position: absolute;
            /* width: 1406px;*/
            width: 98%;
            height: 79px;
            left: 17px;
            top: 5px;
            background: #E7F1FF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 15px;
        }

        .navbar-brand {
            width: 121px;
            height: 72px;
            font-family: 'HelveticaNeueBold';
            font-style: normal;
            font-weight: 400;
            font-size: 300%;
            line-height: 150%;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.1em;
            color: #000000;
            opacity: 0.9;
            flex: none;
            order: 0;
            flex-grow: 0;
        }

        .navbar-nav {
            font-family: 'HelveticaNeueMedium';
            font-style: normal;
            font-weight: 900;
            font-size: 100%;
            line-height: 150%;
            color: #003B73;
            flex: none;
            order: 0;
            flex-grow: 0;
        }

        .btn-nav {
            border-radius: 10px;
            background-color: #003B73;
            color: #FFFFFF;
            font-family: 'HelveticaNeueMedium';
            font-style: normal;
            font-weight: 900;
            font-size: 100%;
        }

        .btn {
            color: #FFFFFF;
            font-weight: 900;
        }

        .dropdown:hover .dropdown-menu {
            display: block;
            background-color: #E7F1FF;
        }

        .dropdown-menu .dropdown-item{
            font-family: 'HelveticaNeueMedium';
            font-style: normal;
            font-weight: 900;
            font-size: 80%;
            background-color: #E7F1FF;
        }

    </style>
</head>

<body>
    <!--Navigation Links-->
    <AuthorizeView>
        <Authorized>

            <!-- Bootstrap Navbar-->

            <!--33.3 x 46.2-->

            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-flex">
                    <img src="/Logo_3_no_words.png" width="49.95px" height="69.3px" class="d-inline-block align-top" alt="">
                    <span class="navbar-brand mb-0 h1">GAEA</span>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item active"> <a class="nav-link" href="/">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="/Profile">Profile</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Reports</a>
                                <ul class="dropdown-menu">
                                    <!--<li class="dropdown-item"><a class="nav-link" href="/Reports">Team Reports</a></li>-->
                                    <li class="dropdown-item"><a class="nav-link" href="/mysurveys">My Surveys</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Management</a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item"><a class="nav-link" href="/Teammanagement">Manage Teams</a></li>
                                    <li class="dropdown-item"><a class="nav-link" href="/my-teams">My Team</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Requests</a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item"><a class="nav-link" href="/Teammanagement/Requests">ADCON</a></li>
                                    <li class="dropdown-item"><a class="nav-link" href="/Requests/OPCON-outsource">OPCON</a></li>
                                    <li class="dropdown-item"><a class="nav-link" href="/Requests/evaluation-assignment-requests">Evaluator</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <div class="btn-nav">
                                <a class="btn" href="/MicrosoftIdentity/Account/SignOut">Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

        </Authorized>
    </AuthorizeView>

    <main>
        <div class="top-row px-4">
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>

</body>
@code{
    public string userFirstName = "";

    protected override async Task OnInitializedAsync()
    {
        await getUserLogin();
    }
    private async Task getUserLogin()
    {
        UserModel currentUser = await AuthenticationStateProviderHelpers.GetUserFromAuth(authProvider, userData);
        if (currentUser != null)
        {
            userFirstName = currentUser.firstName;
        }
    }

    private MudTheme myTheme = new()
        {
            Palette = new Palette
            {
                Primary = "#003B73",
                Secondary = "#FFFFFF",
            }
        };
}