:root {
}

body {
    background-image: url(https://i.imgur.com/t2DloqT.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    flex: 0 1 auto;
}

header {
    background-image: linear-gradient(180deg, #002035 0%, #000f 99%);
}

footer {
    background: steelblue;
    text-align: center;
}

footer a {
    color: white;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.topbox {
    background: darkgray;
    border-bottom: 1px solid steelblue;
    padding-bottom: 0;
    height: 22px;
    text-align: center;
    flex: 0 1 auto;
}

.topbox p a {
    font-size: 18px;
}

.infobox {
    display: flex;
    height: 5vw;

}

.logo {
    display: block;
    position: relative;
    left: 8vw;
    top:  -20px;
    width: 6%;
    height: auto;
}

.link {
    display: inline-block;
    position: relative;
    margin-left: 5vw;
    padding-top: 1vw;
    text-transform: uppercase;
    flex: 0 1 auto;
}

    .link a {
        text-decoration: none;
        color: lightgrey;
        font-size: 24px;
        font-size: 1.2vw;
        font-family: fantasy;
    }

        .link a:hover {
            color: steelblue;
        }

        .link a::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            height: 2.5px;
            width: 0%;
            background-color: steelblue;
            transition: all ease-in-out 250ms;
        }

        .link a:hover::before {
            width: 100%;
        }

.dropdown {
    position: relative;
}

.dropdown .dropbtn {
    font-size: 28px;
    font-size: 1.5vw;
    color: lightgray;
    background: none;
    border: none;
}

.welcome {
    color: white;
}

.dropdown-content {
    position: absolute;
    left: 45px;
    list-style: none;
    background-color: lightgray;
    padding: 10px;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 2px 5px 0 black;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown-content li {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dropdown-content li:hover {
    background: gray;
}

.dropdown > button:focus + .dropdown-content {
    opacity: 1;
    transform: translateY(0);
}

.logbutton {
    background: lightgray;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
}

    .logbutton:hover {
        background: steelblue;
    }


#sitetitle {
    position: relative;
    left: 180px;
    margin: 0;
    padding: 0;
    color: whitesmoke;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 26px;
    font-size: 1.5vw;
}

#motto {
    position: relative;
    left: 130px;
    color: steelblue;
    text-transform: uppercase;
    font-family: 'Brush Script MT';
    font-size: 20px;
    font-size: 1vw;
}
/*Adjusted navlist and userbox to be position absolute, and use vw=view width for different size screens*/
#navlist {
    position: absolute;
    left: 60vw;
    margin: 0;
    padding: 0;
    list-style: none;
    flex: 0 1 auto;
}

#userbox {
    position: absolute;
    padding-top: 10px;
    left: 80vw;
    align-content: center;
    text-align: center;
    flex: 0 1 auto;
}



.page {
}

.top-row ::deep a, .top-row .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
}

.top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
