@inject NavigationManager navManager

<div>
    <div>
        <div>
            <div>   
                <div>Authorization Required</div>
                <p>
                    You are not authorized to access this section. You need to be logged in
                    to edit teams. You need to be an admin to manage teams.
                </p>
            </div>
            <div>
                <button @onclick="ClosePage"></button>
            </div>
        </div>
    </div>
</div>

@code {
    private void ClosePage()
    {
        navManager.NavigateTo("/");
    }

}
