/* _content/SpaceForceEvaluations/Components/DailyQuestionHolder.razor.rz.scp.css */
body[b-a5t3ivg6ll] {

}
.maincomponent[b-a5t3ivg6ll] {
    background-image: linear-gradient(180deg, #002035 0%, #000f 99%);
    color: #7f838a;
    border-style: double;
    border-color: #7f838a;
}
input[type="radio"][b-a5t3ivg6ll] {
    margin: 0 5px 25px 10px;
}
input[type="InputRadio"][b-a5t3ivg6ll] {
    margin: 0 5px 25px 10px;
}
/* _content/SpaceForceEvaluations/Pages/Account.razor.rz.scp.css */
body[b-9c49sc1y2p] {

}
.mainDiv[b-9c49sc1y2p] {
    background-image: linear-gradient(180deg, #002035 0%, #000f 99%);
    color: #7f838a; 
    height: 100vh;
    text-align: center;
}

label[b-9c49sc1y2p] {
    width: 100px;
    display: inline-block;
    text-align: right;
    margin-right: 8px;
}

input[type=text][b-9c49sc1y2p], select[b-9c49sc1y2p] {
    width: 350px;
    padding: 10px;
    margin: 6px 0;
    border: 1px solid #aaa;
    border-radius: 4px;
}

input[type=submit][b-9c49sc1y2p] {
    width: 200px;
    background-color: #09f;
    color: white;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover[b-9c49sc1y2p] {
        background-color: #07d;
}

input[type=text]:focus[b-9c49sc1y2p], input[type=email]:focus[b-9c49sc1y2p] {
    background-color: lightblue;
}

div h1[b-9c49sc1y2p] {
    text-align: center;
}

form[b-9c49sc1y2p] {
    display: inline-block;
    border-top: 1px solid gray;
}
input:invalid[b-9c49sc1y2p] {
    border: 5px solid red;
}

form input[type="text"][b-9c49sc1y2p] {
    text-transform: lowercase;
}
EditForm[b-9c49sc1y2p] {
    display: inline-block;
    border-top: 1px solid gray;
}
/* _content/SpaceForceEvaluations/Pages/Landing.razor.rz.scp.css */
.mainDiv[b-2saf0orf5o] {
    background-image: linear-gradient(180deg, #002035 0%, #000f 99%);
    color: #7f838a;
    height: 100vh;
    text-align: center;
}

.col-2[b-2saf0orf5o] {
    display: inline-block;
}
/* _content/SpaceForceEvaluations/Pages/Login.razor.rz.scp.css */
body[b-qyds3voz9g] {

}
.mainDiv[b-qyds3voz9g] {
    background-image: linear-gradient(180deg, #002035 0%, #000f 99%);
    color: #7f838a; 
    height: 100vh;
    text-align: center;
}

.col-2[b-qyds3voz9g] {
    margin: 50px;
    padding: 25px;
    width: 25vw;
    display: inline-block;
    border: 3px solid gray;
    border-radius: 15px;
    box-shadow: 5px 5px 3px 4px black;
    background-color: lightblue;
    flex: 0 1 auto;
}

div h1[b-qyds3voz9g] {
    text-align: center;
}

h2[b-qyds3voz9g] {
    font-size: 52px;
    font-size: 2.5vw;
    color: black;
}

.flex[b-qyds3voz9g] {
    display: flex;
    justify-content: space-around;
}

.vline[b-qyds3voz9g] {
    display: block;
    height: 300px;
    border: 1px solid gray;
}
/* _content/SpaceForceEvaluations/Pages/Profile.razor.rz.scp.css */
.mainDiv[b-v2o82lkojk] {
    background-image: linear-gradient(180deg, #002035 0%, #000f 99%);
    color: #7f838a;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
/* _content/SpaceForceEvaluations/Pages/Survey.razor.rz.scp.css */
.mainDiv[b-5j160uinxx] {
    background-image: linear-gradient(180deg, #002035 0%, #000f 99%);
    color: #7f838a;
    height: 100vh;
    width: 78vw;
    text-align: center;
}

.page[b-5j160uinxx] {
    background-image: linear-gradient(180deg, #002035 0%, #000f 99%);
    color: #7f838a;
    height: 100vh;
    width: 78vw;
}
/* _content/SpaceForceEvaluations/Shared/LoginDisplay.razor.rz.scp.css */
body[b-99lf2g0kor]{

}
/* _content/SpaceForceEvaluations/Shared/MainLayout.razor.rz.scp.css */
:root[b-4m02i15hvc] {
}

body[b-4m02i15hvc] {
    background-image: url(https://i.imgur.com/t2DloqT.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    flex: 0 1 auto;
}

header[b-4m02i15hvc] {
    background-image: linear-gradient(180deg, #002035 0%, #000f 99%);
}

footer[b-4m02i15hvc] {
    background: steelblue;
    text-align: center;
}

footer a[b-4m02i15hvc] {
    color: white;
}

header[b-4m02i15hvc]::after {
    content: '';
    display: table;
    clear: both;
}

.topbox[b-4m02i15hvc] {
    background: darkgray;
    border-bottom: 1px solid steelblue;
    padding-bottom: 0;
    height: 22px;
    text-align: center;
    flex: 0 1 auto;
}

.topbox p a[b-4m02i15hvc] {
    font-size: 18px;
}

.infobox[b-4m02i15hvc] {
    display: flex;
    height: 5vw;

}

.logo[b-4m02i15hvc] {
    display: block;
    position: relative;
    left: 8vw;
    top:  -20px;
    width: 6%;
    height: auto;
}

.link[b-4m02i15hvc] {
    display: inline-block;
    position: relative;
    margin-left: 50px;
    padding-top: 15px;
    text-transform: uppercase;
    flex: 0 1 auto;
}

    .link a[b-4m02i15hvc] {
        text-decoration: none;
        color: lightgrey;
        font-size: 24px;
        font-size: 1.2vw;
        font-family: fantasy;
    }

        .link a:hover[b-4m02i15hvc] {
            color: steelblue;
        }

        .link a[b-4m02i15hvc]::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            height: 2.5px;
            width: 0%;
            background-color: steelblue;
            transition: all ease-in-out 250ms;
        }

        .link a:hover[b-4m02i15hvc]::before {
            width: 100%;
        }

.dropdown[b-4m02i15hvc] {
    position: relative;
}

.dropdown .dropbtn[b-4m02i15hvc] {
    font-size: 28px;
    font-size: 1.5vw;
    color: lightgray;
    background: none;
    border: none;
}

.welcome[b-4m02i15hvc] {
    color: white;
}

.dropdown-content[b-4m02i15hvc] {
    position: absolute;
    left: 45px;
    list-style: none;
    background-color: lightgray;
    padding: 10px;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 2px 5px 0 black;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown-content li[b-4m02i15hvc] {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dropdown-content li:hover[b-4m02i15hvc] {
    background: gray;
}

.dropdown > button:focus + .dropdown-content[b-4m02i15hvc] {
    opacity: 1;
    transform: translateY(0);
}

.logbutton[b-4m02i15hvc] {
    background: lightgray;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
}

    .logbutton:hover[b-4m02i15hvc] {
        background: steelblue;
    }


#sitetitle[b-4m02i15hvc] {
    position: relative;
    left: 180px;
    margin: 0;
    padding: 0;
    color: whitesmoke;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 26px;
    font-size: 1.5vw;
}

#motto[b-4m02i15hvc] {
    position: relative;
    left: 130px;
    color: steelblue;
    text-transform: uppercase;
    font-family: 'Brush Script MT';
    font-size: 20px;
    font-size: 1vw;
}
/*Adjusted navlist and userbox to be position absolute, and use vw=view width for different size screens*/
#navlist[b-4m02i15hvc] {
    position: absolute;
    left: 60vw;
    margin: 0;
    padding: 0;
    list-style: none;
    flex: 0 1 auto;
}

#userbox[b-4m02i15hvc] {
    position: absolute;
    padding-top: 10px;
    left: 80vw;
    align-content: center;
    text-align: center;
    flex: 0 1 auto;
}



.page[b-4m02i15hvc] {
}

.top-row[b-4m02i15hvc]  a, .top-row .btn-link[b-4m02i15hvc] {
    white-space: nowrap;
    margin-left: 1.5rem;
}

.top-row a:first-child[b-4m02i15hvc] {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-4m02i15hvc] {
        display: none;
    }

    .top-row.auth[b-4m02i15hvc] {
        justify-content: space-between;
    }

    .top-row a[b-4m02i15hvc], .top-row .btn-link[b-4m02i15hvc] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-4m02i15hvc] {
        flex-direction: row;
    }

    .sidebar[b-4m02i15hvc] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-4m02i15hvc] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-4m02i15hvc], article[b-4m02i15hvc] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/SpaceForceEvaluations/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-gm337wb2xa] {
    background-color: rgba(255, 255, 255, 0.1);
    flex: 0 1 auto;
}

.top-row[b-gm337wb2xa] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
    flex: 0 1 auto;
}

.navbar-brand[b-gm337wb2xa] {
    font-size: 1.1rem;
}

.oi[b-gm337wb2xa] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-gm337wb2xa] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-gm337wb2xa] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-gm337wb2xa] {
        padding-bottom: 1rem;
    }

    .nav-item[b-gm337wb2xa]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-gm337wb2xa]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-gm337wb2xa]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-gm337wb2xa] {
        display: none;
    }

    .collapse[b-gm337wb2xa] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* _content/SpaceForceEvaluations/Shared/NotAuthorized.razor.rz.scp.css */

.mainDiv[b-t0ec31nrvo] {
    background-image: linear-gradient(180deg, #002035 0%, #000f 99%);
    color: #7f838a;
    height: 100vh;
    width: 78vw;
}
